// .about-flover{

// }
.aperativ-img{
    padding: 60px;
}

.about-flover__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 95px;
}
.about-flover__title{
    font-family: 'Liberation Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 1.5;
}
.about-flover__text{
    font-size: 18px;
    line-height: 1.77;
    max-width: 548px;
    }


