.header{
background-color: var(--backgraund-color-hero);
}

.header__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 96px;
}
.header__nav{
    display: flex;
    align-items: center; 
    padding-top: 40px;
    padding-bottom: 38px;
}

.header__list{
    display: flex;

}

.header__item:not(:last-child){
  margin-right: 60px;
    
}

.logo{
    fill: var(--title-color);
}

.header__link{
    color: var(--title-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
}
