body{
    background-color: burlywood;
}

.button {
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;

}

.button-hero{
    padding: 20px 52px;
    background-color: transparent;
    border: 1px solid var(--title-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 1px;
    text-transform: uppercase;
}